@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.sidebar {
  width: 280px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: Roboto;
  background-color: #311D40;
  overflow-x: hidden;
  transition: 0.4s;
}

/* Sidebar header */
.sidebar-header {
  margin-bottom: 12px;
}

.open-btn,
.close-btn {
  position: absolute;
  z-index: 1;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.open-btn {
  top: 8px;
  left: 17px;
  font-size: 20px;
  visibility: hidden;
}

.close-btn {
  top: 0;
  right: 15px;
  font-size: 30px;
}

.side-link {
  display: flex;
  align-items: center;
  min-width: 280px;
  padding: 10px 10px 10px 16px;
  border-left: 4px solid transparent;
  font-size: 14px;
  font-weight: 500;
  color: #DCE3E6;
  transition: 0.4s;
  cursor: pointer;
}

.side-link:hover,
.setting-link:hover {
  color: #DCE3E6;
}

.setting-link {
  font-size: 14px;
  font-weight: 500;
  color: #DCE3E6;
}

.avatar-img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
  border-radius: 50%;
}

.user-name {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

.company-name {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
}

/* Sidebar main */
.sidebar-main .side-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.sidebar-main .side-link:hover>.svg-icon {
  fill: white;
  color: white;
  transition: 0.3s;
}

.sidebar-main .side-link:focus {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.08);
}

.sidebar-main .side-link:focus>.link-text {
  font-weight: bold;
}

.svg-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 16px;
  overflow: hidden;
  font-size: 24px;
  fill: grey;
  color: grey;
}

.split-line {
  margin: 10px 0;
  border-color: rgba(161, 107, 201, 0.16);
}

.pink-btn {
  margin-left: 47px;
  padding: 5px 16px;
  border: none;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
  background-color: #FF3465;
}

.pink-btn:hover {
  background-color: #D92C55;
}

/* Sidebar footer */
.sidebar-footer {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  width: 100%;
  padding: 0 24px;
}

.footer-img {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 16px;
  bottom: 8px;
  transition: 0.2s;
}

.footer-text {
  font-size: 28px;
  font-weight: 500;
  color: #DCE3E6;
}

.footer-text:hover {
  text-decoration: none;
  color: #DCE3E6;
}

.dropdown-toggle {
  font-size: 20px;
  color: #DCE3E6;
  cursor: pointer;
}

.dropdown-toggle::after {
  content: "" !important;
}

.dropdown-menu {
  left: 8px !important;
  min-width: 160px;
  padding: 8px 0;
}

.dropdown-item {
  padding: 10px 20px !important;
  font-size: 13px;
  line-height: 21px;
  color: #0C0D0D;
}

.dropdown-item:hover {
  color: #0C0D0D;
  background-color: #DCE3E6;
}

.dropdown-divider {
  margin: 0;
  border-color: #DCE3E6;
}

.logout-icon {
  font-size: 20px !important;
  line-height: 0;
}

/* Main */
#main {
  margin-left: 280px;
  padding: 16px;
  transition: margin-left .5s;
}